/* 
   Loc: Home Page
   Style: Banner Image 
*/

.banner-image {
  position: relative;
}

.banner-image img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-repeat: no-repeat;
  object-fit: cover;
}
/* 
   Style: Banner Title:  
   Loc: center
*/
h1 {
  margin: 0 0 0.5rem 0;
  color: var(--chiva);
  line-height: 1.2;
  text-align: center;
}
h2 {
  color: #17428e;
  text-shadow: 0px 5px 15px rgb(188, 186, 186);
}
h3 {
  margin: 0 0 0.5rem 0;
  color: green;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 5px 15px rgb(188, 186, 186);
}
h4 {
  margin: 0 0 0.5rem 0;
  color: var(--chiva);
  line-height: 1.2;
  text-align: center;
  /* border: 4px solid #031255; */
}
/* 
   Style: Image Slideshow
*/

.mySlides {
  display: none;
}
.slideshow-container img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 2px solid #020a17; /* Add a 1px solid border with a light gray color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
}

/* Caption text */
.text {
  color: yellow;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: 900;
}

.title-underline {
  border-top: 8px solid #ffd700;
  width: 50px;

  margin: 20px auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;

  background-color: #17428e;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active {
  background-color: #c41e3a;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/* Bttn Component */

.view-more-button {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.view-more-button a {
  box-shadow: 0 0 10px rgba(0, 30, 255, 0.5);
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #17428e;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 2px;
  cursor: pointer;
}

.view-more-button a:hover {
  background-color: #a61818;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.769);
  color: #f8f6ee;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */

.card {
  box-shadow: 0 4px 8px 0;

  padding: 16px;

  text-align: center;

  background-color: #a61818;

  border: 8px solid #1b2635;
  border-radius: 5px;
}

.card p {
  color: #F8F6EE;

  font-weight: bolder;
}

.card span {
  color: rgb(254, 212, 0);

  font-weight: 700;
}
.card footer {
  background-color: #333333;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  text-align: center;
  font-weight: 800;
  text-shadow: 0px 5px 15px rgb(255, 46, 46);
} 

