---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Our Story"
  description="Tradition"
  pubDate={new Date("August 08 2021")}
  heroImage="/plaza.jpeg"
>
  <p>
    Growing up meals weren’t just food for the Padilla family. They were
    celebrations of life, love, and culture.
  </p>
  <p>
    When the Padilla family moved to Oakland, California, they brought with them
    cherished recipes handed down through generations, each dish carrying
    stories of their roots and their journey.
  </p>
  <p>
    With a dream to share some authentic tortas ahogadas y tacos dorados, estilo
    Guadalajara!
  </p>
  <p>
    In 2000, their dream became a reality as they opened “Tortas Ahogadas Mi
    Barrio” in the heart of Oakland.
  </p>
</Layout>
