---
import Layout from "../layouts/About.astro";
---

<Layout
  title="OUR STORY"
  description="Mexican Resturant"
  pubDate={new Date("Jan 01 2005")}
  heroImage="/plaza.jpeg"
>
  <p>
    Growing up meals weren’t just food for the Padilla family. They were
    celebrations of life, love, and culture.
  </p>
  <p>
    The Padilla family moved to <span style={{ color: "gold" }}
      >Oakland, CA</span
    > and brought with them, cherished recipes handed down through generations,
    each dish carrying stories of their roots and their journey.
  </p>
  <p>
    With a dream to share some authentic tortas ahogadas y tacos dorados,
    <span style={{ color: "#006338" }}>Estilo Guadalajara!</span>
  </p>
  <p>
    <span style={{ color: "red" }}>In 2005,</span> their dream became a reality,
    Tortas Ahogadas Mi Barrio was opened in the heart of <span
      style={{ color: "gold" }}>Oakland, CA</span
    >
  </p>
</Layout>
