---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <!-- IMG: Banner Section Content -->

    <div class="banner-image">
      <img src="bgimg.jpeg" alt="Background Image" />
    </div>
    <main>
      <h1>Tortas Ahogadas Mi Barrio</h1>
      <section>
        <h3>* Estilo Jalisco *</h3>
        <p></p>
        <!-- <div>
          <h3>BEST IN TOWN!</h3>
        </div> -->
      </section>

      <!-- Menu Slideshow Section -->
      <section>
        <div>
          <!-- Slide: 2x-seconds</p> -->

          <div class="slideshow-container">
            <div class="mySlides fade">
              <img src="torta.JPG" style="width:100%" />

              <div class="text">TORTAS AHOGADAS</div>
            </div>

            <div class="mySlides fade">
              <img src="huevos.jpg" style="width:100%" />

              <div class="text">PLATILLOS</div>
            </div>

            <div class="mySlides fade">
              <img src="tostada.jpeg" style="width:100%" />

              <div class="text">CEVICHE</div>
            </div>
          </div>

          <!-- Slides Buttons</p> -->

          <div style="text-align:center">
            <span class="dot"></span>

            <span class="dot"></span>

            <span class="dot"></span>
          </div>
        </div>
      </section>

      <!-- REV Section -->
      <section>
        <!-- Cards Component -->

        



         <!-- Review Section -->

      <section>
        <h2>Great Views</h2>

        <div class="title-underline"></div>

        <div class="row">
          <div class="column">
            <div class="card">
              <p>
                "Their food is delicious and the service is always friendly."
              </p>

              <span>— Hector P.</span>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <p>"Highly recommend! This place has been the bomb for years"</p>

              <span>— Hector P.</span>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <p>"Great Mexican food, everything in the menu is amazing"</p>

              <span>— Hector P.</span>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <p>"Very tasty tortas. The bread was key, it didn't get soggy"</p>

              <span>— Hector P.</span>
            </div>
          </div>

       
        </div>
        <div class="view-more-button">
          <a
            href="https://www.yelp.com/biz/tortas-ahogadas-mi-barrio-oakland"
            class="button">View More</a
          >
      </section>
    </main>
    <!-- Footer Component-->
    <Footer />
    <script>
      import "../scripts/slider.js";
    </script>
  </body>
</html>
